<div class="container">
    <h1>Admin</h1>
    <div class="row">
        <div class="col col-md-6">
            <h2>Add Players</h2>
            <form method="POST" action="api/players">
                <div class="form-group">
                    <label for="exampleInputEmail1">Team</label>
                    <select name="team" class="form-control" id="exampleFormControlSelect1">
                        {{#each teams}}
                            <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>

                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label>Photo</label>
                    <input type="text" name="photo" class="form-control" placeholder="Enter photo url">

                </div>
                <div class="form-group">
                    <label>Short Name</label>
                    <input type="text" name="short_name" class="form-control" placeholder="Enter nick name">

                </div>
                <div class="form-group">
                    <label>Position</label>
                    <select name="position" class="form-control" id="exampleFormControlSelect1">
                        <option value="gk">Goalkeeper</option>
                        <option value="def">Defender</option>
                        <option value="mf">Midfield</option>
                        <option value="fwd">Forward</option>
                    </select>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col col-md-6">
            <h2>Add Team</h2>
            <form method="POST" action="teams">



                <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control" placeholder="Enter name">

                </div>
                <div class="form-group">
                    <label>Logo</label>
                    <input type="text" class="form-control" placeholder="Enter logo url">

                </div>
                <div class="form-group">
                    <label>Short Name</label>
                    <input type="text" class="form-control" placeholder="Enter nick name">

                </div>
                <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control"></textarea>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-6">
        <h2>Add Match</h2>
            <form method="POST" action="matches">
                <div class="form-group">
                    <label for="home_team">Home Team</label>
                    <select id="home_team" name="home_team" class="form-control" id="home_team">
                        {{#each teams}}
                                <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>

                </div>
                <div class="form-group">
                    <label for="away_team">Away Team</label>
                    <select id="away_team" name="away_team" class="form-control" id="away_team">
                        {{#each teams}}
                                <option value="{{this._id}}">{{this.name}}</option>
                        {{/each}}
                    </select>

                </div>
                <div class="form-group">
                    <label for="date_time">Date Time</label>
                    <input type="text" id="date_time" name="date_time" class="form-control" placeholder="Enter date time">

                </div>
                <div class="form-group">
                    <label for="venue">Venue</label>
                    <input type="text" id="venue" name="venue" class="form-control" placeholder="Enter venue">

                </div>
                <div class="form-group">
                    <label>Home Score</label>
                    <input type="text" name="home_score" class="form-control" placeholder="Enter home score">

                </div>
                <div class="form-group">
                    <label>away score</label>
                    <input type="text" name="away_score" class="form-control" placeholder="Enter nick name">

                </div>
                <h3>Home</h3>
                <div class="form-group">
                    <label>Goalkeeper</label>
                    <select name="home_player_gk" class="form-control">
                        <option>Select</option>
                        {{#each teamplayers}}
                        <option class="home{{this.team._id}} homeplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>midfielders</label>
                    <select name="home_player_mfs" multiple class="form-control">
                        {{#each teamplayers}}
                        <option class="home{{this.team._id}} homeplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>forwards</label>
                    <select name="home_player_fwds" multiple class="form-control">
                        {{#each teamplayers}}
                        <option class="home{{this.team._id}} homeplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>substitutes</label>
                    <select name="home_player_subs" multiple class="form-control">
                        {{#each teamplayers}}
                        <option class="home{{this.team._id}} homeplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <h3>Away</h3>
                <div class="form-group">
                    <label>Goalkeeper</label>
                    <select name="away_player_gk"  class="form-control">
                        <option>Select</option>
                        {{#each teamplayers}}
                        <option class="away{{this.team._id}} awayplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>midfielders</label>
                    <select name="away_player_mfs" multiple class="form-control">
                        {{#each teamplayers}}
                        <option class="away{{this.team._id}} awayplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>forwards</label>
                    <select name="away_player_fwds" multiple class="form-control">
                        {{#each teamplayers}}
                        <option class="away{{this.team._id}} awayplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>substitutes</label>
                    <select name="away_player_subs" multiple class="form-control">
                        {{#each teamplayers}}
                        <option class="away{{this.team._id}} awayplayer" value="{{this.player._id}}">{{this.player.name}} ({{this.position}})</option>
                        {{/each}}
                    </select>
                </div>
                <div class="form-group">
                    <label>match status</label>
                    <select name="match_status" class="form-control" id="exampleFormControlSelect1">
                        <option value="not started">not started</option>
                        <option value="started">started</option>
                        <option value="extra time">extra time</option>
                        <option value="panelty">panelty</option>
                        <option value="finished">finished</option>
                        <option value="delayed">delayed</option>
                        <option value="abandoned">abandoned</option>
                    </select>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#home_team').on('change', (e) => {
            $(".homeplayer").hide();
            $(".home"+e.target.value).show();
        });
        $('#away_team').on('change', (e) => {
            $(".awayplayer").hide();
            $(".away"+e.target.value).show();
        });
        $(".homeplayer").hide();
        $(".awayplayer").hide();

    });
</script>